.notification {
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 197px;
        gap: 20px;
        img {
            width: 25px;
        margin-left: 115px;
        }
        txt {
            margin-left: 20px;
            font-family: Proxima Nova;
            font-size: 15px;
            color: $text-color;
        }
    }
    &-down {
        font-family: Proxima Nova;
        font-size: 14px;
        line-height: 20px;
        box-shadow: 5px 10px 18px rgba(160, 121, 0, 0.2);
        background-color: white;
        height: 141px;
        width: 124px;
        border-radius: 10px;
        margin-left: 1000px;
        // padding: 25px 41px;
        margin-top: 95px;
    }
    &-top {

        color: white;
        height: 36px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background:$bgc-gradient;
        padding: 12px 13px 6px 12px;
    }
    &-boder {
        padding: 6px 13px 6px 12px;
    }
}